<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <link rel="stylesheet" type="text/css" href="../css/reset.css">
    <link rel="stylesheet" href="../less/login.css">
</head>

<body>
    <div class="container">
        <div class="content clear">
            <div class="title clear">
                <div class="left-logo">
                    <img src="../imgages/timg.jpg" alt="">
                </div>
                <h3 class="title-desc">医院后勤综合管理系统</h3>
            </div>
            <div class="userinfo">
                <div class="number">
                    <label class="userinfo-desc">用户名:</label>
                    <input type="text" placeholder="请输入你的用户名" class="input">
                </div>
                <div class="password">
                    <label class="userinfo-desc">密&nbsp;&nbsp;&nbsp;码:</label>
                    <input type="password" placeholder="请输入密码" class="input">
                </div>
                <div class="submit">
                    <div class="login">
                        <a href="">登录</a>
                    </div>
                    <div class="reset">
                        <a href="">重置</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright clear">
            Copyright © 2016 Shijin Limited All Rights Reserved 郑州时进科技有限公司版权所有
        </div>
    </div>
</body>

</html>
