<div class="confirm">
    <div class="confirmTitle clear">
        <h3 class="title">添加用户信息</h3>
        <div class="closeWindow">x</div>
    </div>
    <form action="index_submit" method="post" accept-charset="utf-8" id="addData">
        <table class="PopUpTableBorder" border="0" cellspacing="0" cellpadding="0">
            <tbody>
                <tr>
                    <td class="PopUpTableTitle" width="100px">
                        <font color="#ff0000">*</font>
                        用户名:
                    </td>
                    <td width="390px">
                        <input type="text" name="" class="username" value="" placeholder="" style="width: 96%;">
                    </td>
                    <td width="320px">
                        <div class="tishi">登录名不合法，长度为3-40个字符</div>
                    </td>
                </tr>
                <tr>
                    <td class="PopUpTableTitle" width="100px">
                        <font color="#ff0000">*</font>
                        密码:
                    </td>
                    <td width="390px">
                        <input type="text" name="" class="password" value="" placeholder="" style="width: 96%;">
                    </td>
                    <td width="320px">
                        <div class="tishi">登录名不合法，长度为3-40个字符</div>
                    </td>
                </tr>
                <tr>
                    <td class="PopUpTableTitle" width="100px">
                        <font color="#ff0000">*</font>
                        手机号:
                    </td>
                    <td width="390px">
                        <input type="text" name="" class="phone" value="" placeholder="" style="width: 96%;">
                    </td>
                    <td width="320px">
                        <div class="tishi onerror">登录名不合法，长度为3-40个字符</div>
                    </td>
                </tr>
                <tr>
                    <td class="PopUpTableTitle" width="100px">
                        <font color="#ff0000">*</font>
                        性别:
                    </td>
                    <td width="390px">
                        <label>男
                            <input type="radio" name="sex" checked="checked" class="boy" value="男" placeholder="">
                        </label>
                        <label>女
                            <input type="radio" name="sex" class="girl" value="女" placeholder="">
                        </label>
                    </td>
                    <td width="320px">
                        <div class="tishi onfocus">登录名不合法，长度为3-40个字符</div>
                    </td>
                </tr>
                <tr>
                    <td class="PopUpTableTitle" width="100px">
                        <font color="#ff0000">*</font>
                        邮箱:
                    </td>
                    <td width="390px">
                        <input type="text" name="" class="email" value="" placeholder="" style="width: 96%;">
                    </td>
                    <td width="320px">
                        <div class="tishi">登录名不合法，长度为3-40个字符</div>
                    </td>
                </tr>
                <tr>
                    <td class="PopUpTableTitle" width="100px">
                        <font color="#ff0000">*</font>
                        昵称:
                    </td>
                    <td width="390px">
                        <input type="text" name="" class="nike" value="" placeholder="" style="width: 96%;">
                    </td>
                    <td width="320px">
                        <div class="tishi onCurrect">登录名不合法，长度为3-40个字符</div>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
    <div class="butList">
     <input type="button" name="" value="保存" class="ButtonStyle_Blue" id="keep">
        
        <input type="button" name="" value="关闭" class="ButtonStyle_Blue" id="shut">
        
    </div>
</div>
